body {
    font-family: Arial, sans-serif;
}

.container {
    margin-bottom: 20px;
}

.table-container {
    display: flex;
    justify-content: center; /* Center the table */
    padding: 0 20px; /* Space on left and right */
}

table {
    width: 100%; /* Table will take full width within the container */
    max-width: 1000px; /* Optional: limit the max width */
    border-collapse: collapse;
}

.dice-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
    gap: 10px; /* Space between images */
    max-width: 1200px; /* Optional: limit the max width of the grid */
}

.dice-grid img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: shadow effect */
}

.selected {
    border: 2px solid red; /* Red border for selected dice */
}

@media (max-width: 800px) {  
    th, td {
        border: 1px solid #ccc;
        height: calc(100vw / 9); /* Height is 1/3 of the width based on the viewport */
        text-align: center;
    }

    #rollDice { 
        height: 80px;
        width: 360px;
        font-size: 20px;
    }
}

@media (min-width: 800px) {  
    th, td {
        border: 1px solid #ccc;
        height: calc(100vw / 40); /* Height is 1/3 of the width based on the viewport */
        text-align: center;
    }

    #rollDice { 
        height: 80px;
        width: 200px;
        font-size: 30px;
}
    }
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fafafa;
}

td:hover {
    background-color: #e0e0e0;
}

